{% include "header.html" %}
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">Discover the Story Behind the Screen!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Welcome to Vel Blogs! I’m Vivek, the creator behind this platform where everyone’s stories and insights can shine. With a background in Information Technology and a passion for coding and system design, I launched Vel Blogs to provide a space where diverse voices can come together. My journey began with hands-on experience in Computer Networking through an internship with Cisco Networking Academy, and has since evolved into a deep dive into GoLang, Python, and microservices.</p>
                        <p>My tech journey has been both challenging and rewarding. From developing a personal safety app to tackling over 200 LeetCode problems, I’m always eager to learn and grow. I’m also exploring DevOps practices and AWS, and I’m excited to incorporate these into Vel Blogs to enhance its functionality and user experience. Through this platform, I aim to create a vibrant community where your ideas and stories can flourish. Thank you for joining me on this journey—let’s explore, create, and connect together!</p>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}