{% include "header.html" %}
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am a second-year Information Technology student pursuing a B.Tech degree. As an Android developer, I contributed to Suraksha, an open-source personal safety app, integrating intuitive features for enhanced security. Additionally, I gained practical experience in Computer Networking through a Cisco Networking Academy internship.</p>
                        <p>Currently immersed in learning GoLang and Python, I aspire to enter the DevOps ecosystem in the future, combining my skills in technology and development for innovative solutions.</p>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}