{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}
        <header class="masthead" style="background-image: url({{ post.img_url }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.title }}</h1>
                            <h2 class="subheading">{{ post.subtitle }}</h2>
                            <span class="meta">
                                Posted by
                                <a href="{{ url_for('home', posts_by=post.parent_id ) }}">{{ post.author }}</a>
                                on {{ post.date }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{ post.body|safe }}
                        {% if user_id == post.parent_id %}
                        <div class="d-flex justify-content-end mb-4">
                          <a class="btn btn-primary float-right" href="{{ url_for('edit_post', post_id=post.id) }}" >Edit Post</a>
                        </div>
                        {% endif %}
                        {% if logged_in or comments %}
                            <hr class="my-4" />
                        {% endif %}
                        {% if logged_in %}
                            {{ render_form(form) }}
                        {% endif %}
                        <div class="comment">
                            <ul class="commentList">
                                {% for comment in comments %}
                                    <li>
                                        <div class="commenterImage">
                                            <img src="{{ gravatar_url(comment.parent.email) }}" alt="User Gravatar">
                                        </div>
                                        <div class="commentText">
                                            <p>{{ comment.comment|safe }}</p>
                                            <span class="date sub-text">{{ comment.author }}
                                                {% if user_id == post.parent_id or user_id == comment.parent_id %}
                                                    <a href="{{url_for('delete_comment', comment_id=comment.id, post_id=comment.post_id) }}">✘</a>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
{% include "footer.html" %}